{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Road Grievence Complaint System | Login</title>
    <link rel="stylesheet" href="{% static 'roadGriev/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'roadGriev/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'roadGriev/js/bootstrap.min.js' %}"></script>
    <style media="screen">
    </style>
  </head>
  <body style="display: flex;width:100vw;height:100vh;">
    <form class="login" action="./" method="post" style="margin:auto;padding:20px;width:350px;min-height: 300px;position:relative;">
      <img src="{% static 'roadGriev/images/login.jpg' %}" style="width:100px;height:auto;margin-left:100px;margin-right:100px;">
      <hr />
      <h5 style="text-align:center;">LOGIN</h5>
      <br />
      <div class="form-group">
        <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" />
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" />
      </div>
      <input type="submit" class="btn btn-outline-dark btn-block" value="LOGIN" />
    </form>
  </body>
</html>
