{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Road Grievence Complaint System | Dashboard</title>
    <link rel="stylesheet" href="{% static 'roadGriev/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'roadGriev/css/style.css' %}">
    <script type="text/javascript" src="{% static 'roadGriev/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'roadGriev/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">

    </script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" style="color:white;">RGCS</a>
      <a href="./logout/" class="btn btn-outline-light">Logout</a>
    </nav>
    <ul class="menubar" style="position:fixed;width:300px;">
      <br />
      <li style="text-align:center;">
        <img src="{% static 'roadGriev/images/login.jpg' %}" style="width:100px;height:auto;">
      </li>
      <br />
      <li style="text-align:center;text-transform: capitalize;">
        <h5>{{name}}</h5>
        <h6>{{user_type}}</h6>
      </li>
      <br />
      <li><a href=".." id="dasTab">Dashboard</a></li>
      <li><a href="../requests/" id="reqTab">Requests</a></li>
      <li><a href="../reports/" id="repTab">Reports</a></li>
      <li><a href="../profile/" class="link-active" id="proTab">Profile</a></li>
      <li><a href="../settings/" id="setTab">Settings</a></li>
    </ul>
    <div id="tabPen" style="margin-left:300px;padding:10px;">

    </div>
  </body>
</html>
